table.dataintable {
  margin-top: 15px;
  border-collapse: collapse;
  border: 1px solid #aaa;
  width: 100%;
}
table.dataintable th {
  vertical-align: baseline;
  padding: 10px 10px 10px 10px;
  background-color: #3F3F3F;
  border: 1px solid #3F3F3F;
  text-align: left;
  color: #fff;
}
table.dataintable td {
  vertical-align: text-top;
  padding: 9px 9px 9px 9px;
  border: 1px solid #aaa;
}
table.dataintable td em {
  color: #0000ff;
  font-weight: normal;
}
table.dataintable tr:nth-child(odd) {
  background-color: #F5F5F5;
}
table.dataintable tr:nth-child(even) {
  background-color: #fff;
}
table.dataintable pre {
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}
table.dataintable p {
  margin: 0 0 2px 0;
}
table.dataintable .table_value {
  color: #0F93D2;
}
